body{
  background-color: gray;
}
.a{
  width: 1024px;
  height: 509px;
  background-image: url("https://www.ecitizen.go.ke/images/ecitizen-carousel-1.png");
}
.b{
  background-color: transparent;
  margin-left: 100px;
}
.c{
  background-color: black;color: white;
  cursor: pointer;
  width: 150px;
  height: 30px;
  margin-left: 30px;

}
