body{
  background-color: cyan;
  background: no-repeat;
 background-image: url("https://www.ecitizen.go.ke/images/ecitizen-carousel-1.png")
}
.q{

width: 100px;
  height: 100px;
position: absolute;
  top: 130px;
}
.h{width: 500px;
  height: 100px;

}
.btn{
  background-color: black;
  width: 100px;
  height: 37px;
  cursor: pointer;
  color: white;
}
.lk{
  width: 300px;
  height: 100px;
}
.re{
 top: 950px;
position: marker;
  width: 100px;
  height: 100px;
footnote-display: Welcome to ecitizen;
}

  adding-left: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pt0 {
  padding-top: 0 !important;
}
  @media (min-width: 768px)
.lead {
  font-size: 22px;
}
.lead {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.46429;
  margin-bottom: 30px;
}
  @media (min-width: 768px)
.lead {
  font-size: 21px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}





}
